body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 32.7rem;
  width: 100%;
  background-image: url(images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  font-family: "Fraunces", sans-serif;
}

header ul {
  visibility: hidden;
}

.header-images {
  padding: 1.5rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

header button {
  background: none;
  color: inherit;
  border-style: none;
}

header h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.65rem;
  margin-top: 5rem;
}

header .arrow-down {
  position: relative;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.hamburger-open {
  margin: 4rem 1.42rem;
  background: hsl(0, 0%, 100%);
  padding: 1.3rem;
  text-align: center;
  position: relative;
  bottom: 21rem;
  display: none;
}

.hamburger-clicked-open {
  display: block;
}

.hamburger-open::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid hsl(0, 0%, 100%);
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid hsl(0, 0%, 100%);
  top: -1.9rem;
  left: 18.548rem;
}

.hamburger-open p {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.hamburger-open p:last-of-type {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  font-size: 1rem;
  border: 0.0625rem solid hsl(51, 100%, 49%);
  padding: 1rem 1.7rem;
  background-color: hsl(51, 100%, 49%);
  border-radius: 2rem;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
}

.transform-image {
  background-image: url(images/mobile/image-transform.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20rem;
}

.transform-text {
  text-align: center;
  padding: 2rem 1.2rem 3rem;
}

.transform-text h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: hsl(212, 27%, 19%);
}

.transform-text p {
  font-size: 1.1rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: hsl(213, 9%, 39%);
  margin-bottom: 2rem;
}

.transform-text h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-size: 0.99rem;
  width: fit-content;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 0.6rem solid hsl(51, 100%, 82%);
  border-radius: 0.3rem;
}

.standout-image {
  background-image: url(images/mobile/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 22rem;
}

.standout-text {
  text-align: center;
  padding: 2rem 1.5rem 3rem;
}

.standout-text h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: hsl(212, 27%, 19%);
}

.standout-text p {
  font-size: 1.1rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: hsl(213, 9%, 39%);
  margin-bottom: 2rem;
}

.standout-text h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-size: 0.99rem;
  width: fit-content;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 0.6rem solid hsl(7, 99%, 90%);
  border-radius: 0.3rem;
}

.graphic-design {
  height: 35rem;
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: -1.5rem;
}

.graphic-design-text {
  position: relative;
  top: 23rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.graphic-design-text h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: hsl(167, 40%, 24%);
}

.graphic-design-text p {
  color: hsl(167, 40%, 24%);
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

.photography {
  height: 35rem;
  background-image: url(images/mobile/image-photography.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.photography-text {
  position: relative;
  top: 23rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.photography-text h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: hsl(198, 62%, 26%);
}

.photography-text p {
  color: hsl(198, 62%, 26%);
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

.testimonials {
  text-align: center;
  padding: 2.2rem 2.5rem;
}

.testimonials img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 2.2rem;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  color: hsl(210, 4%, 67%);
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin-top: 5rem;
}

.testimonials p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(212, 27%, 19%);
}

.testimonials h4 {
  font-weight: 900;
  font-family: "Fraunces", sans-serif;
  font-size: 1rem;
}

.testimonials h5 {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 0.85rem;
  margin-top: -0.88rem;
}

.milk-bottles-and-orange {
  display: flex;
}

.milk-bottles {
  background-image: url(images/mobile/image-gallery-milkbottles.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 12rem;
}

.orange {
  background-image: url(images/mobile/image-gallery-orange.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 12rem;
}

.cone-and-sugar-cubes {
  display: flex;
}

.cone {
  background-image: url(images/mobile/image-gallery-cone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 12rem;
}

.sugar-cubes {
  background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 12rem;
}

footer {
  background-color: hsl(168, 34%, 67%);
  color: hsl(167, 40%, 24%);
  padding: 3.5rem 3rem;
  text-align: center;
}

.footer-logo {
  transform: scale(1.3);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 11rem;
  margin: 4rem auto;
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
  font-family: "Fraunces", sans-serif;
}

.attribution a {
  color: hsl(167, 40%, 14%);
}

@media (min-width: 25rem) {
  header {
    background-image: url(images/desktop/image-header.jpg);
  }

  .transform-image {
    background-image: url(images/desktop/image-transform.jpg);
  }

  .standout-image {
    background-image: url(images/desktop/image-stand-out.jpg);
  }

  .graphic-design {
    background-image: url(images/desktop/image-graphic-design.jpg);
  }

  .photography {
    background-image: url(images/desktop/image-photography.jpg);
  }

  .milk-bottles {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  }

  .orange {
    background-image: url(images/desktop/image-gallery-orange.jpg);
  }

  .cone {
    background-image: url(images/desktop/image-gallery-cone.jpg);
  }

  .sugar-cubes {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  }
}

@media (min-width: 50rem) {
  header {
    height: 43rem;
  }

  header button {
    display: none;
  }

  .header-images {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  header ul {
    color: hsl(0, 0%, 100%);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    font-family: "Barlow", sans-serif;
    visibility: visible;
  }

  header li:last-of-type {
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    font-family: "Fraunces", sans-serif;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
  }

  header li:last-of-type:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(212, 27%, 84%);
    border-color: hsl(212, 27%, 84%);
  }

  div h3:hover {
    cursor: pointer;
  }

  header h1 {
    margin-top: 7rem;
  }

  .transform {
    display: flex;
    flex-direction: row-reverse;
  }

  .transform-image {
    width: 50%;
    height: 30rem;
  }

  .transform-text {
    width: 50%;
    text-align: left;
    position: relative;
    top: 6rem;
    left: 6rem;
    padding: 0;
  }

  .transform-text h2 {
    font-size: 1.9rem;
    padding-right: 20rem;
  }

  .transform-text p {
    font-size: 1rem;
    padding-right: 13rem;
    color: hsl(210, 4%, 67%);
  }

  .transform-text h3 {
    margin: 0;
  }

  .standout {
    display: flex;
  }

  .standout-image {
    width: 50%;
    height: 30rem;
  }

  .standout-text {
    width: 50%;
    padding: 0;
    text-align: left;
    position: relative;
    left: 6rem;
    top: 5rem;
  }

  .standout-text h2 {
    font-size: 1.9rem;
    padding-right: 15rem;
  }

  .standout-text p {
    font-size: 1rem;
    color: hsl(210, 4%, 67%);
    padding-right: 16rem;
  }

  .standout-text h3 {
    margin: 0;
  }

  .graphic-design-and-photography {
    display: flex;
  }

  .graphic-design {
    width: 50%;
  }

  .photography {
    width: 50%;
  }

  h3 {
    position: relative;
    top: 6rem;
  }

  .testimonials {
    padding: 9rem 7rem;
    display: flex;
    justify-content: space-between;
  }

  .testimonials div {
    width: 20rem;
  }

  .bottom-images {
    display: flex;
  }

  .milk-bottles-and-orange {
    width: 50%;
  }

  .milk-bottles {
    height: 26rem;
  }

  .orange {
    height: 26rem;
  }

  .cone-and-sugar-cubes {
    width: 50%;
  }

  .cone {
    height: 26rem;
  }

  .sugar-cubes {
    height: 26rem;
  }

  footer ul {
    padding: 0 25rem;
  }

  footer li:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }

  .socials img:hover {
    cursor: pointer;
    fill: hsl(0, 0%, 100%);
  }
}

@media (min-width: 80rem) {
  .graphic-design {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .photography {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
